.Task
{
	@at-root .Task-Head
	{
		font-size   : 20rem;
		text-align  : center;
		margin      : 50px 0;
		font-weight : 500;
	}
	@at-root .Task-Nav
	{
		@extend %Wrapper;
		@extend %Unselectable;
		display : table;
		li
		{
			display        : table-cell;
			vertical-align : middle;
		}

		.Link
		{
			@extend %Std-Transition;
			display       : inline-block;
			color         : $C-Third;
			font-weight   : 500;
			font-size     : 16rem;
			padding       : 10px 25px;
			border        : 2px solid $C-Third-Light;
			border-radius : 20px;
			cursor        : pointer;

			&:hover
			{
				@extend %Std-Transition;
				background-color : $C-Primary;
				color            : white;
				border           : 2px solid $C-Primary;
			}
		}

		.Active
		{
			border-radius : 20px;
			border        : 2px solid $C-Third-Light;

			&:hover
			{
				background-color : $C-Third-Light;
				color            : $C-Third;
				cursor           : default;
			}

		}

		.Break
		{
			width   : 50px;
			padding : 0 4px;
			span
			{
				display          : block;
				background-color : $C-Third-Light;
				height           : 2px;
				width            : 100%;
			}
		}

	}
	@at-root .Task-Form
	{
		@extend %Wrapper;

		@at-root .General
		{

			.Name
			{
				display : table;
				width   : 100%;
				span
				{
				}
				input
				{
				}

			}

			.Address
			{
				span
				{
				}
				input
				{
					@extend %Input-Std;
				}
			}
		}

	}
	.Name, .Description, .Address, .Type, .Style
	{
		display : table;
		width   : 100%;
	}
	.Name > span, .Name > input, .Address > span, .Address > input, .Description > span, .Description > input, .Type > span, .Type .Select, .Commentary > span, .Commentary textarea, .Check-Wrap, .Style > span, .Add-Files
	{
		display        : table-cell;
		vertical-align : middle;
	}

	.Task-Form
	{
		max-width   : 600px;
		margin      : 100px auto 0;
		font-weight : 500;
	}

	.Name, .Address, .Type, .Description
	{
		display       : table;
		width         : 100%;
		margin-bottom : 45px;
	}

	.Name, .Address, .Description, .Commentary, .Style
	{
		> span
		{
			width : 24%;
		}

	}

	.Name, .Address
	{
		> input
		{
			width            : 100%;
			height           : 38px;
			padding          : 10px 25px;
			font-size        : 14rem;
			border-radius    : 2px;
			background-color : rgb(249, 249, 249);
			box-shadow       : 0 2px 0 0 rgba(112, 153, 225, 1), 0 2px 6px 0 rgba(0, 0, 0, 0.3);
		}
	}
	.Description
	{

		span, textarea
		{
			vertical-align : top;
		}
		span
		{
			padding-top : 11px;
		}
		textarea
		{
			height : 150px;
		}
	}
	.Commentary
	{
		display       : table;
		margin-bottom : 40px;

		> span
		{
			padding-top : 11px;
		}
		textarea
		{
			height : 70px;
		}
	}

	.Description textarea, .Commentary textarea
	{
		width            : 100%;
		resize           : none;
		line-height      : 20rem;
		padding          : 10px 25px;
		font-size        : 14rem;
		border-radius    : 2px;
		background-color : rgb(249, 249, 249);
		box-shadow       : 0 2px 0 0 rgba(112, 153, 225, 1), 0 2px 6px 0 rgba(0, 0, 0, 0.3);
	}
	.Address
	{
		> span
		{
			vertical-align : top;
			padding-top    : 11px;
		}
		> input
		{
			width            : 100%;
			height           : 38px;
			padding          : 0 25px;
			font-size        : 14rem;
			border-radius    : 2px;
			background-color : rgb(249, 249, 249);
			box-shadow       : 0 2px 0 0 rgba(112, 153, 225, 1), 0 2px 6px 0 rgba(0, 0, 0, 0.3);
		}
	}

	.Additional
	{
		margin-top : 9px;
		display    : block;
		input
		{
			vertical-align : middle;
			cursor         : pointer;
		}
		label
		{
			@extend %Unselectable;
			padding-left   : 9px;
			font-size      : 14rem;
			vertical-align : middle;
			cursor         : pointer;
		}
		label:before
		{
			/*content: "";*/
			/*display: inline-block;*/
			/*vertical-align: middle;*/
		}
	}

	/*.Additional input:checked + label {*/
	/*}*/
	.Type
	{
		.Select
		{
			width : 76%;

			& > div
			{
				display          : table;
				width            : 100%;
				border-radius    : 2px;
				background-color : rgb(249, 249, 249);
				box-shadow       : 0 2px 0 0 rgba(112, 153, 225, 1), 0 2px 6px 0 rgba(0, 0, 0, 0.3);
			}
			input
			{
				display          : table-cell;
				vertical-align   : middle;
				width            : 100%;
				height           : 38px;
				padding          : 8px 25px;
				font-size        : 14rem;
				background-color : rgb(249, 249, 249);
			}
			.Dropdown
			{
				display          : table-cell;
				width            : 8%;
				vertical-align   : middle;
				text-align       : right;
				border-radius    : 0 2px 2px 0;
				background-color : #5a86cc;
				svg
				{
					width            : 15px;
					height           : 15px;
					padding          : 12px;
					transform-origin : center;
					transform        : rotate(180deg);
					-moz-transform   : rotate(90deg);
					fill             : white;
					cursor           : pointer;
				}
			}
		}
		span
		{
			width : 24%;
		}

	}

	/*%Input-Std{*/
	/**/
	/*border-radius: 2px;*/
	/*background-color: rgb(249, 249, 249);*/
	/*box-shadow: 0 2px 0 0 rgba(112, 153, 225, 1), 0 2px 6px 0 rgba(0, 0, 0, 0.3);*/
	/*}*/

	.Go-Next, .Delete-Page
	{
		@extend %Unselectable;
		display          : table;
		padding          : 11px 35px;
		border-radius    : 2px;
		background-color : rgb(112, 153, 225);
		box-shadow       : 0 2px 0 0 rgba(62, 108, 177, 0.4), 0 4px 4px 0 rgba(62, 108, 177, 0.5), inset 0 -3px 40px 0 rgba(62, 108, 177, 0.4);
		text-shadow      : 0 2px 2px rgba(62, 108, 177, 0.7);
		color            : white;
		font-weight      : 500;
		transition       : all linear .2s;
	}

	.Go-Next
	{
		margin    : 0 0 50px 24%;
		font-size : 16rem;
		cursor    : pointer;
	}

	.Delete-Page
	{
		@extend %Unselectable;
		margin    : 0 0 50px auto;
		font-size : 12rem;
		cursor    : pointer;
		svg
		{
			width  : 13px;
			height : 13px;
			fill   : white;
		}
	}
	.Go-Next:hover, .Delete-Page:hover
	{
		text-shadow : none;
		box-shadow  : none;
		transition  : all linear .2s;
	}

	.Add-Page
	{
		border-top    : 1px solid #e1e3e6;
		border-bottom : 1px solid #e1e3e6;
		margin-bottom : 30px;
		span
		{
			margin-right : 9px;
		}
		button
		{
			display       : table;
			margin        : 25px 24%;
			padding       : 11px 35px;
			border-radius : 4px;
			border        : 2px dashed #e5e6e9;
			font-size     : 16rem;
			font-weight   : bold;
			color         : #687181;
			cursor        : pointer;
		}
	}

	.Styling
	{
		@at-root .Style
		{
			margin-bottom : 30px;
			.Disabled
			{
				@extend %Std-Transition;
				color            : $C-Third;
				background-color : $C-Third-Light;
			}

			span
			{
				padding-right : 20px;
			}
		}
		.Additional
		{
			padding-left  : 24%;
			margin-bottom : 40px;
			cursor        : pointer;
		}
	}

	.Add-Files
	{
		text-align : right;
		&:hover
		{
			button
			{
				@extend %Std-Transition;
				box-shadow  : none;
				text-shadow : none;
			}

		}
		button
		{
			@extend %Std-Transition;
			background-color : $C-Primary;
			border-radius    : 2px;
			padding          : 2px 15px;
			box-shadow       : 0 2px 2px 0 rgba(62, 108, 177, 0.7);
			text-shadow      : 0 2px 2px rgba(62, 108, 177, 0.7);
			color            : white;
		}

	}

	@at-root .Check-Wrap
	{
		.Check
		{
			display : table;
			button
			{
				@extend %Std-Transition;
				width  : 100px;
				height : 26px;
				border : 2px solid $C-Third-Light;
				cursor : pointer;
				&:first-of-type
				{
					border-radius : 2px 0 0 2px;
					border-right  : 2px solid transparent;
				}
				&:last-of-type
				{
					border-radius : 0 2px 2px 0;
					border-left   : 2px solid transparent;
				}
				&:hover
				{
					@extend %Std-Transition;
					border           : 2px solid $C-Primary;
					background-color : $C-Primary;
					color            : white;
				}
			}
			.Active
			{
				@extend %Std-Transition;
				border           : 2px solid $C-Primary;
				background-color : $C-Primary;
				color            : white;
				cursor           : default;
			}

		}
	}

}


