%Unclickable
{
	cursor : default;
}

%Unselectable
{
	@extend %Unclickable;
	& *::selection
	{
		background-color : transparent;
	}
	&::selection
	{
		background-color : transparent;
	}
}

%Std-Transition
{
	transition : all 0.2s linear;
}

%Transition-Fill
{
	transition : fill linear .2s;
}

%Transition-Bg
{
	transition : background-color linear .2s, color linear .2s;
}

%Transition-Fast
{
	transition : background linear .2s, background-color linear .2s, color linear .2s, fill linear .2s, border linear .2s;
}
%Input-Std{

		background-color: rgb(249, 249, 249);
		box-shadow: 0 2px 0 0 rgba(112, 153, 225, 0.004),0 2px 6px 0 rgba(0, 0, 0, 0.3);

}

%Uppercase
{
	text-transform : uppercase;
}

%Form-Circle
{
	border-radius : 50%;
}

%Form-Rounded
{
	border-radius : 4px;
}

%Shadow
{
}

%Shadow-Text
{
}

%Shadow-Text-Secondary
{
}

%Shadow-Text-Primary
{
}

%Wrapper
{
	max-width : 1200px;
	margin    : 0 auto;


	@include Adaptive('>=desktop')
	{
	}
}

%Button-Base
{
}

%Header-Special
{
}









