.Header-Wrap
{
	@at-root .Site-Header
	{
		@extend %Wrapper;
		display : table;
		width   : 100%;
		padding : 50px;
		.Logo
		{
			display        : table-cell;
			width          : 160px;
			vertical-align : middle;
			fill           : $C-Third;
			svg
			{
				width  : 160px;
				height : 60px;
			}
		}

		.Nav
		{
			@extend %Unselectable;
			display        : table-cell;
			vertical-align : middle;
			ul
			{
				display     : table;
				margin-left : auto;
			}
			li
			{
				display        : table-cell;
				vertical-align : middle;

				a
				{
					@extend %Transition-Bg;
					display       : inline-block;
					color         : $C-Third;
					font-weight   : 500;
					font-size     : 14rem;
					padding       : 10px 25px;
					margin        : 0 10px;
					border        : 2px solid transparent;
					border-radius : 20px;
				}
				&:hover
				{

					a
					{
						@extend %Transition-Bg;
						background-color : $C-Primary;
						color            : white;
					}

				}
			}
			.Active
			{
				a
				{
					border-radius : 20px;
					border        : 2px solid $C-Third-Light;
				}
				&:hover
				{
					a
					{
						background-color : $C-Third-Light;
						color            : $C-Third;
						cursor           : default;
					}

				}

			}
		}
	}
}